@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    font-family:Poppins,sans-serif;
}

.Dbrox{
	font-size:30px;
	font-family:Ravie,sans-serif;
	position:absolute;
	left:7vw;
	top:5vh;
	color:#FE7135;
}
.menu{
	display:none;
}
nav{
	
	text-align:center;
	position:absolute;
	left:23vw;
	top:5vh;
	display:flex;
	justify-content:space-around;
	
}
nav ul{
	display:inline-flex;
	list-style:none;
	color: black;
}
 nav ul li{
	margin:10px 20px 30px 40px;
	
}
nav ul li a{
	position: relative;
	text-decoration:none;
	color:#000000;
	font-size:20px;
}
nav ul li a:hover{
	color:#353535;
	
}
nav a:before{
	content:"";
	width:0;
	position:absolute;
	top:0;
	border-radius:5px;
	border-bottom:2vh solid rgba(0,0,0,0.2);
	transition: all 0.4s linear;
}

nav a:hover:before{
	width:4vw;
}
.info-1 {
	
	text-align:center;
	position:absolute;
	left:75vw;
	top:5.5vh;
	display:flex;
	justify-content:space-around;
	
}

.info-1 ul{
	display:inline-flex;
	list-style:none;
	color: black;
}
.info-1 ul li{
	margin:5px 10px 15px 20px;
	
}

.info-1 ul li a{
	position: relative;
	text-decoration:none;
	color:#000000;
	font-size:20px;
}
.info-1 ul li a:hover{
	color:#353535;
	
}

.col-fashion img{
	width:40vw;
	height:50vw;
	position:absolute;
	left:5vw;
	top:17vh;
}
.col-fashion h1{
	font-family:Freestyle Script;
	position:absolute;
	left:60vw;
	top:38vh;
	font-size:70px;
	color:#00F3E3;
}
.col-fashion p{
	position:absolute;
	left:60vw;
	top:51vh;
	font-size: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    letter-spacing: 1px;
    width:400px;
    margin: 0 auto;
    line-height: 2em;
}
.col-fashion button{
	width:15vh;
	height:6vh;
	position:absolute;
	left:65vw;
	top:60vh;
	font-size:15px;
	text-align:center;
	color:white;
	background:#000000;
	
}
.col-fashion button:hover{
	background:white;
	color:black;
}

@media screen and (max-width:768px) 
{
	html {
    font-size: 10px;
}
	.Dbrox{
	font-size:30px;
	font-family:Ravie,sans-serif;
	position:absolute;
	left:7vw;
	top:5vh;
	color:#FE7135;
}
.col-fashion img{
	width:30vw;
	height:40vw;
	position:absolute;
	left:10vw;
	top:17vh;
}
.col-fashion h1{
	font-family:Freestyle Script;
	position:absolute;
	left:55vw;
	top:20vh;
	width:50vw;
	font-size:30px;
	color:#00F3E3;
}
.col-fashion p{
	position:absolute;
	left:47vw;
	top:28vh;
	font-size: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    letter-spacing: 1px;
    width:50vw;
    margin: 0 auto;
    line-height: 2em;
}
.col-fashion button{
	width:15vh;
	height:5vh;
	position:absolute;
	left:55vw;
	top:40vh;
	font-size:10px;
	text-align:center;
	color:white;
	background:#000000;
	
}
.col-fashion button:hover{
	background:white;
	color:black;
}
.info-1{
	
	text-align:center;
	position:absolute;
	left:35vw;
	top:5.5vh;
	display:flex;
	
	justify-content:space-around;
	
}
.menu{
	display:block;
	width:40px;
	height:40px;
	margin:10px;
	background:#ccc;
	float:right;
	cursor:pointer;
	text-align:center;
	color:black;
}
.menu:before{
	content:'\f0c9';
	font-family:fontAwesome;
	line-height:40px;
}
.menu.active:before{
	content:'\f00d';

}
nav{
	display:none;
}
nav.active{
	display:block;
	width:50vw;
	background:white;
	position:absolute;
	left:50vw;
	top:13vh;
}
nav.active ul{
	display:block;
}

}
