@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@media screen and (max-width:1190px)
{
	
	html {
    font-size: 13px;
}
.fashion-1 h1 , .fashion-2 h1 , .fashion-3 h1{
	font-family:Freestyle Script;
	position:absolute;
	left:0vw;
	top:0vw;
	width:35vw;
	font-size:50px;
	
	
	
}
.u-c-text h2{
	width:30vw;
	letter-spacing: 13px;
	position:absolute;
	left:1.5vw;
	top:2vw;
	
	
	
}
.u-c-text h1{
    font-size:33px;
	position:absolute;
	left:3vw;
	top:4vw;
}	
}



@media screen and (max-width:890px)
{
	html {
    font-size: 11px;
}
.Dbrox h1{
	font-size:5vw;
	font-family:Ravie,sans-serif;
	position:absolute;
	left:13vw;
	top:1vw;
	color:#FE7135;	
}
.col-1 nav{
	display:none;
}
.col-1 nav.active ul{
	display:inline-flex;
	list-style:none;
	color: black;
	width:35vw;
	height:45vw;
	background:white;
	
}
.col-1 nav.active{
	display:inline-block;
	width:30vw;
	position:absolute;
	left:70vw;
	top:7.5vw;
	color:white;
	font-size:20px;
	
	
}
.col-1 nav.active ul{
	display:block;
}
.col-1 nav.active ul li a{
	font-size:2.5vw;
	text-align:center;
	
	
		
}
.col-1 nav.active ul li{
	margin:4vw 2vw 3vw 1vw;
	
}
.menu{
	display:flex;
	color:black;
}
.menu:before{
	content:'\f0c9';
	font-family:fontAwesome;
}
.menu.active:before{
	content:'\f00d';

}
.info-1 {
	
	text-align:center;
	position:absolute;
	left:35vw;
	top:2vw;
	display:flex;
	justify-content:space-around;
	
	
	
}
.info-1 ul li a{
	width:50vw;
	position: relative;
	text-decoration:none;
	color:#000000;
	font-size:3.5vw;
	
}
.info-1 ul li{
	margin:1vw 2vw 2vw 4vw;
	
	
}
.col-2{
	overflow:hidden;
	height:90vw;
	width:100vw;
	position:absolute;
	left:0vh;
	top:7vw;
}
.col-fashion img ,.col-fashion-2 img ,.col-fashion-3 img{
	width:70vw;
	height:50vw;
	position:absolute;
	left:15vw;
	top:0vw;
	display:fixed;
	
}
.fashion-1 , .fashion-2 , .fashion-3{
	position:absolute;
	left:25vw;
	top:49vw;
	width:50vw;
	height:15vw;
	display:fixed;
	
	
	
	
}
.fashion-1 h1 , .fashion-2 h1 , .fashion-3 h1{
	position:absolute;
	left:0vw;
	top:2vw;
	width:55vw;
	font-size:8vw;
	
	
	
}
.fashion-1 p , .fashion-2 p , .fashion-3 p{
	position:absolute;
	left:0vw;
	top:14vw;
    margin-bottom: 5px;
    text-transform: capitalize;
    margin-top: 5px;
    letter-spacing: .5px;
    width:55vw;
    margin: 0 auto;
    line-height: 2em;
	display:fixed;
	font-size:2vw;
	
}
.fashion-1 button , .fashion-2 button , .fashion-3 button{
	width:20vw;
	height:6vw;
	position:absolute;
	top:27vw;
	left:13vw;
	font-size:2.5vw;
	text-align:center;
	color:white;
	background:#000000;
	
}
.collection{
	width:98vw;
	height:28vw;
	position:absolute;
	left:0vw;
	top:56vw;
	display:none;
}

.unique-collection{
	width:98vw;
	height:40vw;
	position:absolute;
	left:0vw;
	top:85vw;
	display:none;
}
}
