@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@media screen and (max-width:1190px)
{
	
	html {
    font-size: 13px;
}
.fashion-1 h1 , .fashion-2 h1 , .fashion-3 h1{
	font-family:Freestyle Script;
	position:absolute;
	left:0vw;
	top:0vw;
	width:35vw;
	font-size:50px;
	
	
	
}
.u-c-text h2{
	width:30vw;
	letter-spacing: 13px;
	position:absolute;
	left:1.5vw;
	top:2vw;
	
	
	
}
.u-c-text h1{
    font-size:33px;
	position:absolute;
	left:3vw;
	top:4vw;
}
.NEW-COLLECTION-2 .details h6,.NEW-COLLECTION .details h6,.NEW-COLLECTION-3 .details h6,.NEW-COLLECTION-4 .details h6 ,.NEW-COLLECTION-5 .details h6{
			color: #C0C0C7;
			font-size:.9vw;
			position: absolute;
            left:2vw;
			top:3.3vw;
			text-decoration:line-through;
		}
}



@media screen and (max-width:890px)
{
	html {
    font-size: 11px;
}
boby{
	width:100vw;
}
.Dbrox h1{
	font-size:5vw;
	font-family:Ravie,sans-serif;
	position:absolute;
	left:7vw;
	top:2vw;
	color:#FE7135;	
}
.col-1 nav{
	display:none;
}
.col-1 nav.active ul{
	display:inline-flex;
	list-style:none;
	color: black;
	width:35vw;
	height:60vw;
	background:white;
	
}
.col-1 nav.active{
	display:inline-block;
	width:30vw;
	position:absolute;
	left:67vw;
	top:7.5vw;
	color:white;
	font-size:20px;
	
	
}
.col-1 nav.active ul{
	display:block;
}
.col-1 nav.active ul li a{
	font-size:2.5vw;
	text-align:center;
	
	
		
}
.col-1 nav.active ul li{
	margin:4vw 2vw 3vw 1vw;
	
}
.col-1 nav a:hover:before{
	width:6vw;
}
.menu{
	display:flex;
	color:black;
	position:absolute;
	left:95vw;
	top:4vw;
	font-size:4vw;
}
.menu:before{
	content:'\f0c9';
	font-family:fontAwesome;
	
}
.menu.active:before{
	content:'\f00d';

}
.menu-bar{
	position:absolute;
	left:30vw;
	top:4vw;
	font-size:3vw;
	cursor:pointer;
	
}
.menu-2.active{
	display:block;
	width:30vw;
     height:100vw;
	background:white;
	position:absolute;
	left:5vw;
	top:2vw;
	font-size:2vw;
	
}
.menu-2 ul li a{
	position: relative;
	text-decoration:none;
	color:#000000;
	font-size:2vw;
	
}
.menu-2 ul li{
	margin:5vw 2vw 2vw 2vw;

	
}
.Back a{
	text-decoration:none;
	color:#000000;
	font-size:2vw;
	position:absolute;
	
}
.info-1 {
	width:50vw;
	background:white;
	text-align:center;
	position:absolute;
	left:35vw;
	top:4vw;
	display:flex;
	justify-content:space-around;
	display:block;
	
	
}
.info-1 ul li a{
	width:50vw;
	position: relative;
	text-decoration:none;
	color:#000000;
	font-size:3.5vw;
	
}
.info-1 ul li{
	margin:0vw 4vw 0vw 4vw;
	
	
}
.col-2{
	overflow:hidden;
	height:90vw;
	width:97vw;
	position:absolute;
	left:0vh;
	top:7vw;
}
.col-fashion img ,.col-fashion-2 img ,.col-fashion-3 img{
	width:60vw;
	height:50vw;
	position:absolute;
	left:18vw;
	top:0vw;
	display:fixed;
	
}
.fashion-1 , .fashion-2 , .fashion-3{
	position:absolute;
	left:25vw;
	top:49vw;
	width:50vw;
	height:15vw;
	display:fixed;
	
	
	
	
}
.fashion-1 h1 , .fashion-2 h1 , .fashion-3 h1{
	position:absolute;
	left:0vw;
	top:2vw;
	width:50vw;
	font-size:7vw;
	font-family:Times New Roman;
	
	
}
.fashion-1 p , .fashion-2 p , .fashion-3 p{
	position:absolute;
	left:0vw;
	top:12vw;
    margin-bottom: 5px;
    text-transform: capitalize;
    margin-top: 5px;
    letter-spacing: .5px;
    width:55vw;
    margin: 0 auto;
    line-height: 2em;
	display:fixed;
	font-size:2vw;
	
}
.fashion-1 button , .fashion-2 button , .fashion-3 button{
	width:20vw;
	height:6.5vw;
	position:absolute;
	top:27vw;
	left:13vw;
	font-size:2.5vw;
	text-align:center;
	color:white;
	background:#000000;
	
}
.collection{
	width:30vw;
	height:28vw;
	position:absolute;
	left:5vw;
	top:100vw;
	  display:none;
}


.Best{
	display:none;
}
.Trading-offer-sale{
	display:none;
}
.NEW-ARRIVAL{
	display:none;
}
.unique-collection{
	display:none;
}
.Sale-Collections{
	display:none;
}
.Best{
	display:none;
}
}
